@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 40, 40, 40;
  --background-start-rgb: 240, 240, 240;
  --background-end-rgb: 255, 255, 255;
}

body {
    color: rgb(var(--foreground-rgb));
    background: whitesmoke;
}

main {
    margin: 10px 60px 0 60px;
}

/* Override pagination styles (Uncomment to see the effect) */
/*
body {
    background: rgb(32,33,36);
    color: rgb(232,234,237);
}

ul.pagination .item {
    @apply border-amber-900;
}
ul.pagination .item-state-disable{
    @apply bg-gray-800 text-gray-500 !important;
}
ul.pagination .item-state-current {
    @apply bg-amber-950 !important;
}
ul.pagination .item-state-other {
    @apply bg-gray-600 text-amber-400 !important
}
*/